<div class="container-fluid">

  <!-- Heading and form input
  <div class="row row-centered top-buffer text-center">
    <form class="form-inline">
      <div class="col-md-12 form-group">
        <h1>Beautiful Weather</h1>
        <div class="input-group">
          <input type="text" ng-model="city" class="form-control" id="city" placeholder="Enter location" ng-model-options="{ debounce: 650 }" ng-change="getWeather()" />
        </div>
      </div>
    </form>
  </div>-->

  <div class="row row-centered top-buffer text-center">
    <div class="col-md-12 col-centered bottom-buffer">
      <h1>Ultra Weather</h1>
    </div>
  </div>
  <div class="row row-centered text-center">
    <div class="col-md-3 col-centered">
      <input type="text" ng-model="city" class="form-control" id="city" placeholder="Enter location" ng-model-options="{ debounce: 650 }" ng-change="getWeather()" />
    </div>
  </div>

  <!-- Current weather -->
  <div class="row row-centered top-buffer">
    <div id="current-weather-main" class="col-md-4 col-centered forecast-item forecast-animate" ng-show="city && (formattedAddress != null)">
      <p class="h3 text-center">
        <span ng-show="formattedAddress">{{ formattedAddress }}</span>
      </p>
      <p class="h1 text-center">
        <span class="pull-right">{{ weather.uv}}</span>
        <span class="h4 text-center">11:45 PM</span>
        <span class="pull-left"><i ng-class="setClass(weather.weather[0].icon)"></i></span>
      </p>
      <p class="text-center">
        <span class="pull-right">UV Index</span>
        <span class="pull-left">{{ weather.weather }}</span>
      </p>
    </div>
  </div>

  <!-- 7 day forecast -->
  <div div class="row row-centered">
      <div id="temperature" class="col-md-1 col-centered col-min forecast-item forecast-animate" ng-show="city && (weather.temperatureF != null)">
        <p class="text-center">
          Temperature
        </p>
        <p class="text-center">
          {{ weather.temperatureF }}°
        </p>
      </div>

      <div id="humidity" class="col-md-1 col-centered col-min forecast-item forecast-animate" ng-show="city && (weather.rel_humidity != null)">
        <p class="text-center">
          Humidity
        </p>
        <p class="text-center">
          {{ weather.rel_humidity }}
        </p>
      </div>

      <div id="wind" class="col-md-1 col-centered col-min forecast-item forecast-animate" ng-show="city && (weather.wind_speed_mph != null)">
        <p class="text-center">
          Wind Speed
        </p>
        <p class="text-center">
          {{ weather.wind_speed_mph }} mph
        </p>
      </div>

      <div id="wind" class="col-md-1 col-centered col-min forecast-item forecast-animate" ng-show="city && (weather.wind_direction != null)">
        <p class="text-center">
          Wind Dir.
        </p>
        <p class="text-center">
          {{ weather.wind_direction }}°
        </p>
      </div>

      <div id="wind" class="col-md-1 col-centered col-min forecast-item forecast-animate" ng-show="city && (weather.altitude != null)">
        <p class="text-center">
          Elevation
        </p>
        <p class="text-center">
          {{ weather.altitude }} ft
        </p>
      </div>

    </div>
  </div>
</div>
